

@{    ViewBag.Title = "IndexOG";
    };

<link rel="stylesheet" type="text/css" href="~/Content/divContainer.css" media="screen" />

<div>

    <h1 style="text-align:center; color:white;">Welcome Scaredy Cats!!!</h1>

    <h2 style="color:black; margin-left:40px;">Latest Episodes</h2>

    <div class="episodeDivContainer" style="margin:20px 20px 20px 20px;">

        <div style="height: 350px; width: 250px; border-radius: 5px; background-color:#CBB6E0; margin: 20px 80px 20px 80px; border: 1px solid black;">
            <p style="text-align:center;">Title</p>
            <audio controls>
                <source src="~/Content/AudioFiles/1. mp3.mp3" type="audio/mp3" />
            </audio>
        </div>

        <div style="height: 350px; width: 250px; border-radius: 5px; background-color:#CBB6E0; margin: 20px 80px 20px 80px; border: 1px solid black;">
            <p style="text-align:center;">Title</p>
        </div>

        <div style="height: 350px; width: 250px; border-radius: 5px; background-color:#CBB6E0; margin: 20px 80px 20px 80px; border: 1px solid black;">
            <p style="text-align:center;">Title</p>
        </div>
    </div>

    <div style="margin:auto; text-align:center; margin-bottom: 25px;">
        <button style="width:400px; margin: 10px 0px 10px 0px;" class="btn btn-primary btn-lg">More Episodes</button>
        <br />
        <button style="margin:10px 0px 10px 0px;" class="btn btn-danger btn-lg">Follow on Spotify</button>
        <br />
        <button style="margin:10px 0px 10px 0px;" class="btn btn-danger btn-lg">Follow on iTunes</button>
        <br />
        <button style="margin:10px 0px 10px 0px;" class="btn btn-warning btn-lg">Subscribe for Email-Alterts!!!</button>

    </div>

</div>