@model IEnumerable<FNLPRJ.VisualStudio.PodcastWebApp.Models.Episode>

@{
    ViewBag.Title = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    <p>Authenticated</p>
}
else
{
    <p>Not Authenticated</p>
}

<link rel="stylesheet" type="text/css" href="~/Content/divContainer.css" media="screen" />

    <h1 style="text-align:center; color:white;">Welcome Scaredy Cats!!!</h1>

    <h2 style="color:black; margin-left:40px;">Latest Episodes</h2>

    <div class="episodeDivContainer" style="margin:20px 20px 20px 20px;">

        @foreach (var item in Model)
        {


            <div style="height:auto; width: 250px; border-radius: 5px; background-color:#CBB6E0; margin: 20px 80px 20px 80px; border: 1px solid black;">

                <h4 style="text-align:center;"><strong>Episode @Html.DisplayFor(modelItem => item.episodeNumber) </strong></h4>

                <img src="~/Content/img/@Html.DisplayFor(modelItem => item.picFileLocation)" style="height:125px; width:125px; display:block;margin:auto;" />

                <br />

                <p style="text-align: center;"> @Html.DisplayFor(modelItem => item.description) </p>

                <audio controls style="width:200px; display:block; margin:auto;">
                    <source src="~/Content/AudioFiles/@Html.DisplayFor(modelItem => item.soundFileLocation)" type="audio/mp3" />
                </audio>

                <br />

            </div>
        
        }

    </div>

    <div style="margin:auto; text-align:center; margin-bottom: 25px;">
        <button style="margin:10px 0px 10px 0px;" class="btn btn-danger btn-lg">Follow on Spotify</button>
        <br />
        <button style="margin:10px 0px 10px 0px;" class="btn btn-danger btn-lg">Follow on iTunes</button>
        <br />
        <button style="margin:10px 0px 10px 0px;" class="btn btn-warning btn-lg">Subscribe for Email-Alterts!!!</button>

    </div>


